<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grp202116.consumerserver.mapper.AnnotationMapper">

    <resultMap id="annotationMap" type="com.grp202116.consumerserver.pojo.AnnotationDO">
        <id column="annotation_id" property="annotationId"/>
        <result column="project_id" property="projectId"/>
        <result column="data_id" property="dataId"/>
        <result column="type" property="type"/>
        <result column="result" property="result"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <update id="alter">
        alter table annotation
            AUTO_INCREMENT = 1;
    </update>

    <update id="update">
        update annotation
        set result      = #{result},
            update_time = #{updateTime}
        where annotation_id = #{annotationId}
    </update>

    <insert id="insertAll" parameterType="List" useGeneratedKeys="true" keyColumn="annotation_id"
            keyProperty="annotationId">
        insert into annotation
        (project_id,data_id,type,create_time,update_time,result)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.projectId}, #{item.dataId},#{item.type},
            #{item.createTime},#{item.updateTime}, #{item.result})
        </foreach>
    </insert>

    <insert id="insert" parameterType="AnnotationDO" useGeneratedKeys="true" keyColumn="annotation_id"
            keyProperty="annotationId">
        insert into annotation
            (project_id, data_id, type, create_time, update_time, result)
        values (#{item.projectId}, #{item.dataId}, #{item.type},
                #{item.createTime}, #{item.updateTime}, #{item.result})
    </insert>

    <select id="listByDataId" resultMap="annotationMap">
        select *
        from annotation
        where data_id = #{dataId}
    </select>

    <select id="listByProjectId" resultMap="annotationMap">
        select *
        from annotation
        where project_id = #{projectId}
    </select>

    <delete id="deleteByProjectId">
        delete
        from annotation
        where project_id = #{projectId}
    </delete>

    <delete id="deleteByDataId">
        delete
        from annotation
        where data_id = #{dataId}
    </delete>

</mapper>