<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grp202116.consumerserver.mapper.ModelMapper">

    <resultMap id="modelMap" type="com.grp202116.consumerserver.pojo.ModelDO">
        <id column="model_id" property="modelId"/>
        <result column="version" property="version"/>
        <result column="model_path" property="modelPath"/>
        <result column="description" property="description"/>
        <result column="project_id" property="projectId"/>
        <result column="create_time" property="createTime"/>
        <result column="model_root" property="modelRoot"/>
        <result column="type" property="type"/>
        <result column="params" property="params"/>
        <result column="labels_path" property="labelsPath"/>
    </resultMap>

    <update id="alter">
        alter table annotation
            AUTO_INCREMENT = 1;
    </update>

    <update id="updateParams">
        update model
        set params = #{params}
        where version = #{version}
    </update>

    <update id="updateModel">
        update model
            <set>
                <if test="version != '' and version != null">
                    version = #{version},
                </if>
                <if test="modelPath != '' and modelPath != null">
                    model_path = #{modelPath},
                </if>
                <if test="description != '' and description != null">
                    description = #{description},
                </if>
                <if test="modelRoot != '' and modelRoot != null">
                    model_root = #{model_root},
                </if>
                <if test="type != '' and type != null">
                    type = #{type},
                </if>
                <if test="params != '' and params != null">
                    params = #{params},
                </if>
                <if test="labelsPath != '' and labelsPath != null">
                    labels_path = #{labels_path},
                </if>
            </set>
        where model_id = #{modelId}
    </update>

    <insert id="insert" parameterType="ModelDO" useGeneratedKeys="true" keyColumn="model_id" keyProperty="modelId">
        insert into model (model_path, version, description, project_id,
                           create_time, model_root, type, params, labels_path)
        values (#{modelPath}, #{version}, #{description}, #{projectId},
                #{createTime}, #{modelRoot}, #{type}, #{params}, #{labelsPath})
        ON DUPLICATE KEY UPDATE model_path  = VALUES(model_path),
                                description = VALUES(description),
                                model_root  = VALUES(model_root),
                                type        = VALUES(type),
                                params      = VALUES(params),
                                labels_path = VALUES(labels_path)
    </insert>

    <select id="getByProjectId" resultMap="modelMap">
        select *
        from model
        where project_id = #{projectId}
    </select>

    <select id="getByVersionProject" resultMap="modelMap">
        select *
        from model
        where version = #{version}
          AND project_id = #{projectId}
    </select>

    <delete id="deleteById">
        delete
        from model
        where model_id = #{modelId}
    </delete>

    <delete id="deleteByProjectId">
        delete
        from model
        where project_id = #{projectId}
    </delete>

</mapper>