<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grp202116.consumerserver.mapper.PredictionMapper">

    <resultMap id="predictionMap" type="com.grp202116.consumerserver.pojo.PredictionDO">
        <id column="prediction_id" property="predictionId"/>
        <result column="project_id" property="projectId"/>
        <result column="data_id" property="dataId"/>
        <result column="type" property="type"/>
        <result column="result" property="result"/>
        <result column="model_version" property="model"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <update id="alter">
        alter table prediction
            AUTO_INCREMENT = 1;
    </update>

    <update id="setAccepted">
        update prediction
        set is_accepted = true
        where prediction_id = #{predictionId}
    </update>

    <update id="setNotAnnotated">
        update prediction
        set is_accepted = false
        where prediction_id = #{predictionId}
    </update>

    <insert id="insertAll" parameterType="List" useGeneratedKeys="true" keyProperty="predictionId"
            keyColumn="prediction_id">
        insert into prediction
        (project_id,data_id,type,model_version,create_time,update_time,result)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.projectId},#{item.dataId},#{item.type},
            #{item.model},#{item.createTime},#{item.updateTime},#{item.result})
        </foreach>
        ON DUPLICATE KEY UPDATE type = VALUES(type), update_time = VALUES(update_time), result = VALUES(result);
    </insert>

    <select id="listByDataId" resultMap="predictionMap">
        select *
        from prediction
        where data_id = #{dataId}
    </select>

    <select id="listByProjectId" resultMap="predictionMap">
        select *
        from prediction
        where project_id = #{projectId}
    </select>

    <delete id="deleteByProjectId">
        delete
        from prediction
        where project_id = #{projectId}
    </delete>

</mapper>